In [24]:
import os
import json
import glob
import numpy as np
import pandas as pd
from astroquery.ipac.ned import Ned
from wiserep_api.properties import get_target_property

## Redshift from Host Galaxy

In [21]:
def load_z_dict():
    """Loads the dictionary with the redshift values.
    """
    redshift_file = 'redshifts.json'
    if os.path.isfile(redshift_file) is True:
        with open(redshift_file, 'r') as fp:
            z_dict = json.load(fp)
    else:
        z_dict = {'name':[], 'z':[], 'source':[], 'host_name':[]}
        
    return z_dict

def save_z_dict(z_dict):
    """Saves the dictionary with the redshift values. 
    """
    with open('redshifts.json', 'w') as outfile:
        json.dump(z_dict, outfile)
        
def get_redshift(target, overwrite=False):
    """Obtains the redshift for the given target.
    """
    z_dict = load_z_dict()
    if target in z_dict['name'] and overwrite is False:
        # quit
        return None
    
    host_name = get_target_property(target, 'host')
    if host_name!='':
        try:
            # Get NED redshift
            try:
                z_table = Ned.get_table(host_name, table='redshifts')
            except:
                # try removing white spaces from the name, if there is any
                z_table = Ned.get_table(host_name.replace(' ', ''), 
                                        table='redshifts')
            z = z_table['Published Redshift'].value[0]
            source = 'host'
        except Exception as exc:
            print(f'{target} ({host_name}): {exc}')
            # quit
            return None
    else:
        z = np.nan
        source = ''

    if target not in z_dict['name']:
        z_dict['name'].append(target)
        z_dict['z'].append(z)
        z_dict['source'].append(source)
        z_dict['host_name'].append(host_name)

    elif target in z_dict['name'] and overwrite is True:
        target_id = z_dict['name'].index(target)

        z_dict['z'][target_id] = z
        z_dict['source'][target_id] = source
        z_dict['host_name'][target_id] = host_name
        
    save_z_dict(z_dict)

In [ ]:
get_target_property

In [3]:
peak_spectra = glob.glob('peak_spectra/*')
targets = []
for file in peak_spectra:
    target = os.path.basename(file).split('_')[0]
    if target not in targets:
        targets.append(target)
        
len(targets)

1890

In [22]:
for target in targets:
    get_redshift(target)

2004as (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006bt (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003ek (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2008bc (A093831-6358): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007qe (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007ud (A023013-0915): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007ux (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2005cg (A211050+0012): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002aw (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2008Z (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2004hk (A232704-0838): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
SDSS-SN-108 (SDSS J232650.82â095632.8): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003hu (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
1993ac (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002kf (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006sd (A011424+0102): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2021abcn (WISEA J203330.82-085328.4): The remote service returned the following error message.
ERROR:  No redshift data frame found.
1996bl (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
asassn-15sf (anonymous): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
1999gm (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2022adwc (WISEA J105406.66-042221.7): ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
ASASSN-15np (2MASX J15060265+0733): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2005hj (A012648-0114): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007su (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006tx (A011026-0034): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
1997fc (APMUKS(BJ) B045816.80-385931.0): The remote service returned the following error message.
ERROR:  No redshift data frame found.
2006sq (A020711-0357): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
asassn-15ub (CGCG 314-006): The remote service returned the following error message.
ERROR:  No redshift data frame found.
2005ku (SDSS J25942.66-000048.8): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
1996ab (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003jo (A232524-0926): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
ASASSN-15mg (2MASXJ15322270+41505): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2006lu (A091517-2536): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003kl (A010948+0100): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2001es (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2001iq (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003jw (A023106-0845): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
1994T (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006tk (A010752+0027): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006bz (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007tf (SDSS J10959.32-000108.0): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007tl (A011104-0015): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2020win (LEDA  823647): The remote service returned the following error message.
ERROR:  No redshift data frame found.
2006ak (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007cq (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002eu (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003lk (A021112-0413): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006gt (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2020yyg (SDSS J015405.95+070859.8): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2006cj (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007un (A011422+0107): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2000cp (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
PS15bom (SDSS J232637.05-0017): ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
2001bp (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003jj (A010758+0003): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2004ap (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002ey (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007tt (SDSS J11120.53-001219.8): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2007uj (A023319-0832): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003de (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006sm (A023329-0830): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007ty (A022834-0823): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007oo (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006al (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002bf (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2004fk (A011335-0009): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
asassn-14gh (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2018vx (SDSS J144310.44+172816.5): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2003fa (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003lh (A021019-0459): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007al (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006is (A051734-2346): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
PS15mb (SDSS J085940.13+1511): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003lm (A232425-0845): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007tg (A020610-0442): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006bu (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
gaia15aby (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2021at (SDSS J074708.57+432920.0): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2005ej (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006fb (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2017hxo (2MASX J03024953+0529054): The remote service returned the following error message.
ERROR:  No redshift data frame found.
Gaia14abz (SDSS123766143592464): The remote service returned the following error message.
ERROR: Ambiguous name.
2005eu (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003kt (A023347-0836): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003hz (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2022ybv (SDSS J003110.96-072708.0): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
ASASSN-15tj (SDSS J075527.63+5209): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
asassn-15mp (2MASX J0058421-1404122): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2002ja (A233009-0935): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
CSS140609-173103+203632 (anonymous): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003ez (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002G (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
No target with this name found on Wiserep: SKY
SKY (None): 'NoneType' object has no attribute 'replace'
2002jd (A002838+0040): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006mk (A023016-0840): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
CSS140628-233025+060302 (Anonymous): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003lj (A011210+0019): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003lf (A010849-0044): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2005cr (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006tp (A020914-0437): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007lr (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003kn (A020915-0335): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003js (A022952-0832): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
PSNJ15024996+4847062 (PGC 2325560): Failed to parse NED result! The raw response can be found in self.response, and the error in self.table_parse_error.
2003gn (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2004he (A022948-0820): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006mb (A023054-0857): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2002iu (A001333-1013): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2006mf (A023037-0757): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
SNF20080909-030 (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2004fo (A011328+0035): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2007uq (A020421-0354): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2003kk (A232536-0931): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.
2001fh (Anon.): The remote service returned the following error message.
ERROR: The object name that you have submitted is not currently recognized by the NED name interpreter.

In [ ]:
from astroquery.ipac.ned import Ned
Ned.query_object("SDSS J134124.97+3545")

In [23]:
z_dict = load_z_dict()
z_df = pd.DataFrame(z_dict)
z_df.to_csv('redshifts.csv', index=False)
len(z_df)

1735

## Redshift from SNID Templates

In [10]:
directories = glob.glob('spectra/*')
print(f'{len(directories)} SNe')

n_templates = 10
max_phase = +5

8659 SNe

In [36]:
snid_dict = {'name':[], 'snid_z':[], 'snid_z_std':[]}

for directory in directories:
    sn_name = os.path.basename(directory)
    target_files = glob.glob(os.path.join(directory, '*'))
    # SNID outputs
    snid_files = [file for file in target_files if file.endswith('.output')]

    # iterate over all spectra for this SN
    z_list = []
    z_err_list = []
    for templ_file in snid_files:
        df = pd.read_csv(templ_file, nrows=n_templates)
        mean_phase = df.age.mean()

        if np.abs(mean_phase) <= max_phase:
            # this spectrum is at peak
            z_list = z_list + list(df.z.values)
            z_err_list = z_err_list + list(df.zerr.values)
       
    if len(z_list) == 0:
        snid_z = snid_z_std = np.nan
    else:
        # weighted average taking the SNID z and zerr
        w = 1/np.array(z_err_list)**2
        snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
        #snid_z = np.average(np.array(z_list), 
        #                    weights=1/np.array(z_err_list)**2)
        snid_z = np.nanmean(np.array(z_list))
        snid_z_std = np.nanstd(np.array(z_list))
    
    snid_dict['name'].append(sn_name)
    snid_dict['snid_z'].append(np.round(snid_z, 4))
    snid_dict['snid_z_std'].append(np.round(snid_z_std, 4))
    
snid_z_df = pd.DataFrame(snid_dict)
snid_z_df.dropna(inplace=True)
snid_z_df.to_csv('snid_redshifts.csv', index=False)

/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)
/tmp/ipykernel_7532/731335242.py:25: RuntimeWarning: divide by zero encountered in divide
  w = 1/np.array(z_err_list)**2
/tmp/ipykernel_7532/731335242.py:26: RuntimeWarning: invalid value encountered in scalar divide
  snid_z = np.nansum(w*np.array(z_list))/np.nansum(w)

## Combine Redshifts

In [37]:
master_df = pd.merge(snid_z_df, z_df, how='outer', on='name')
master_df.to_csv('all_redshifts.csv', index=False)
master_df.sort_values(by=['name'], inplace=True, ignore_index=True)
master_df

               name  snid_z  snid_z_std         z source  host_name
0             1572A  0.0059      0.0051       NaN    NaN        NaN
1             1937D -0.0027      0.0000  0.002081   host   NGC 1003
2             1960F  0.0222      0.0000  0.005774   host    NGC4496
3             1981B -0.0028      0.0039  0.006031   host   NGC 4536
4             1986G  0.0274      0.0502  0.001825   host    NGC5128
...             ...     ...         ...       ...    ...        ...
1885       iPTF15xi  0.0439      0.0028       NaN
1886       iPTF15zr  0.2046      0.0043       NaN
1887        ps15cku  0.0260      0.0037       NaN    NaN        NaN
1888  psnj0252+4656  0.0291      0.0010  0.028086   host   UGC 2351
1889  psnj2352+1433  0.0291      0.0049  0.026482   host  UGC 12822

[1890 rows x 6 columns]

In [38]:
print(f'There is a total of {len(master_df)} objects:')
print(f'\t {len(master_df[master_df.z.isna() & master_df.snid_z.isna()])} objects do not have redshift at all')
print(f'\t Only {len(master_df.dropna(subset=["z"]))} objects have redshift from host (NED)')

There is a total of 1890 objects:
	 0 objects do not have redshift at all
	 Only 402 objects have redshift from host (NED)